.mainBody{
    width:100%;
    /* height: fit-content; */
    padding:80px 30px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body1{
    width:80%;
    padding:2%;
    margin:auto;
}

.body1>h1{
    font-size:100px;
    color:whitesmoke;
    text-align: center;
    word-wrap: break-word;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:2%;
}

.body1>p{
    font-size:20px;
    color:rgba(255,255,255,0.5);
    text-align: center;
    padding:4% 14%;
}

.btnOption{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:30px;
    padding:16px;
    flex-wrap: wrap;
}

.btnOption>button{
    border-radius:20px;
    padding:20px 20px;
    outline:none;
    border: none;
    display: flex;
    align-items: center;
    font-size:15px;
    gap:10px;
    color: rgba(255,255,255,0.5);
    background-image: linear-gradient(135deg, #0d61ec 10%, #de0f82 100%);
    font-size:15px;
    transition:all 0.5s;
    font-weight:bold;
}

.btnOption>button:hover{
    background-image: linear-gradient(135deg, rgba(13, 97, 236, 0.9) 10%,  rgba(222, 15, 130, 0.9) 100%);
}


.btnOption>button>a{
    color: rgba(255,255,255,0.5);
}


.btnOption>button i{
    position: relative;
    left:0px;
    color:rgba(255,255,255, 0.5);
    transition:all 0.4s;
}

.btnOption>button:hover i{
    left:5%;
}

.body2{
    width:80%;
    padding:5% 2%;
    margin: auto;
}

.body2>div{
    width:100%;
    padding:3%;
    display: flex;
    /* align-items: center;  */
    justify-content:space-around;
    /* flex-direction: column; */
    flex-wrap:wrap; 
    /* gap:2%; */
}


.body2>div div{
    padding:5% 5%;
    background-color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:20px;
    box-shadow:2px 2px 70px rgba(255,255,255,0.7);
    margin:3%;
    transition:all 0.4s;
}

.body2>div div:hover{
    scale:1.05;
}

.box1{
    background: linear-gradient(135deg, rgba(100, 179, 244, 0.8) 10%, rgba(194, 229, 156, 0.8) 100%);
    /* opacity:0.5; */

}
.box2{
    background: linear-gradient(135deg, rgba(255, 195, 160, 0.8) 10%, rgba(255, 100, 189, 0.8) 100%);
    /* opacity:0.5; */
}
.box3{
    background: linear-gradient(135deg, rgba(100, 179, 244, 0.8) 10%, rgba(194, 229, 156, 0.8) 100%);
    /* opacity:0.5; */
}


.body2>div div>i{
    padding:10px;
    font-size:50px;
    color: black;
}
.body2>div div>h1{
    padding:10px;
    font-size:50px;
    color: white;
}
.body2>div div>p{
    color: rgba(255,255,255, 0.8);
    padding:10px;
    font-size:20px;
}


.body3 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 5% 2%;
    justify-content: center;
}

.body3Child1 {
    flex-grow:1;
    margin: 1%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.body3Child1>img{
    border-radius:20px;
    /* width:200px; */
    max-width:200px;
    /* min-width: ; */
    height: auto;
    object-fit: cover;
    height:auto;
    padding:2%;
}

.body3Child2 {
    margin: 1%;
    display: flex;
    flex-direction: column;
    flex-basis:60%;
    text-align: center;
}

.body3Child2>h1{
    font-size:45px;
    padding:2%;
}
.body3Child2>h3{
    padding:2%;
    color: rgba(255,255,255, 0.5);
}



.samebox{
    display: flex;
    padding:3%;
    gap:5%;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    align-items:flex-start;
}

.samebox div:first-child i{
    font-size:45px;
    color:rgba(255,255,255, 0.8);
}

.samebox div:last-child p{
    padding:3%;
    color: rgba(255,255,255, 0.5);
}

.body4{
    width:80%;
    margin: auto;
    padding:5% 2%;
    display: flex;
    flex-direction: column;
    color: rgba(255,255,255,0.5);
}

.body4>h1{
    text-align: center;
    padding:1%;
    font-size:50px;
    color: white;
}
.body4>h2{
    padding:1%;
    text-align: center;
    color: white;
}

.body4>div{
    display: flex;
    /* gap:2%; */
    padding:2%;
    align-items:flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

}

.body4childDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
    flex-basis:calc(100%/3);
    flex-grow: 1;
    text-align: center;
}

.body4childDiv>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width:70px;
    height: 70px;
    border-radius:50%;
    /* background:rgba(255,255,255, 0.5); */
    background: rgba(0,0,0, 0.6);
    font-size:25px;
}

.body4childDiv > h2{
    padding:2%;
}

.body4childDiv > h3{
    padding:2%;
}


/* @media screen and (max-width: 1024px) {
    .body1 > h1 {
        font-size: 60px;
        word-wrap: break-word;
    }
    .btnOption {
        gap: 15px;
    }
} */

@media screen and (max-width: 768px) {
    .body1 {
        width: 90%;
    }
    .body1 > h1 {
        font-size: 70px;
        text-align: center;
        padding:20px 10px 30px 10px;
    }
    .body1 > p {
        font-size: 20px;
        /* text-align: center; */
        padding:30px 10px;
    }
    
    /* Ensure images scale properly */
    .body3Child1 img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .body3 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .samebox {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 4%;
        gap:10px;
    }


    .body2 > div {
        flex-direction: column;
        /* align-items: center; */
    }

    .body3Child2 {
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    /* Reduce spacing and adjust alignment */
    .mainBody{
        padding:80px 5px 10px 5px;
    } 
    .body1 {
        width: 100%;
        padding: 20px 10px;
    }
    
    .body1 > h1 {
        font-size: 40px;
        text-align: center;
        padding: 20px 10px 30px 10px;
    }
    
    .body1 > p {
        font-size: 18px;
        padding: 5px 5px 30px 5px;
    }

    .btnOption {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .body2 {
        width: 100%;
        text-align: center;
    }
    .body2 > div{
        gap:10px;
    }

    .body4 {
        gap: 20px;
        text-align: center;
        width:100%;
    }

    .body4 > h1 {
        font-size: 30px;
    }

    .body4 > h2 {
        font-size: 22px;
    }

    .body3{
        width: 100%;
    }

    .body3Child2 > h1 {
        font-size: 28px;
    }

    .body4childDiv {
        gap: 5px;
    }

    .btnOption {
        padding: 16px 5px;
    }

    /* Ensure images are fully responsive */
    img {
        max-width: 100%;
        height: auto;
    }
    
    /* Prevent button text from breaking */
    .btnOption > button {
        white-space: nowrap;
        width: 100%;
        padding: 15px;
        justify-content: center;
    }

    .body4>div{
        flex-direction: column;
    }
}

























