.loader{
    width: 100px;
    height:100px;
    border-radius: 50%;
    background: conic-gradient(
        blue 0deg 60deg,
        rgb(249,250,251) 60deg 360deg
    );
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 1s linear infinite;
    scale:0.8;
}

.loaderChild{
    width:95px;
    height:95px;
    background-color:rgb(249,250,251);;
    border-radius:50%;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}